.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  width: 100%;
}
.search {
  margin-top: 15px;
  width: 200px;
  height: 30px;
  border-radius: 25px;
  background-color: transparent;
  border: solid;
  padding: 8px 16px;
  gap: 10px;
}
.search input {
  background-color: transparent;
  border: none;
  outline: none; 
}
.equal-beetween {
  display: grid;
  grid-template-columns: auto auto; /* שני האלמנטים יהיו בשורה אחת */
  grid-gap: 10px; /* ריווח בין האלמנטים */
}

.nav-left {
  justify-content: space-between;
  /* display: inline-block; */
  gap: 10px;
  padding: auto;
  margin-top: auto;
}
.middle-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-right {
  display: flex;
  justify-content: end;
  padding: 0px 16px 0px 4px;
  gap: 5px;
  width: 100%;
}
